name: cpp-linter

on:
  push:
    branches: [ "main", "cpp-linter" ]
    paths-ignore: "docs/**"
  pull_request:
    branches: [ "main" ]
    paths-ignore: "docs/**"

jobs:
  cpp-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cpp-linter/cpp-linter-action@v2
        id: linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: file
          extensions: 'cpp,hpp'
          repo-root: './src'

      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed > 0
        run: |
          echo "some linter checks failed. ${{ steps.linter.outputs.checks-failed }}"
          exit 1